*{
  box-sizing: border-box;
}

html {
  background-color: white;
  font-family: didot;
}

body {
  margin: auto;
  min-width: 1024px;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

.links {
  margin-left: 80px;
}

ul {
  margin: auto;
	width: 70%
}

ul li {
  list-style: none;
  text-align: center;
  padding: 10px;
	font-size: 24px;
}

div {
  width: 50%;
  margin: auto;
}

/* TYPOGRAPHY */
h1, h2 {
  text-align: center;
	color: #A9A9A9;
}

h1 {
	font-size: 40px;
}

ul {
	display: flex;
	flex-direction: column;
}

li, p {
  font-size: 26px;
  color: #696969;
}

p {
	width: 70%;
	margin: auto;
	padding: 5px;
	font-size: 18px;
}

h3 {
  font-size: 24px;
	text-align: center;
	color: white;
	font-size: 30px;
	padding-top: 50px;
}

h4 {
  text-align: center;
}

.logo {
	display: block;
	margin: auto;
}

.profilepic {
	display: block;
	margin: auto;
	display: flex;
	padding-top: 70px;
	width: 25%;	
}

.intro {
	background-color: #fae3d9;
	height: 700px;
    margin: 0;
}

.personality {
	height: 700px;
	background-color: #ffb6b9;
}

.skills {
	height: 700px;
	background-color: #bbded6;
}


/*
.animation {
	background-color: pink;
}

.animation ul {
	display: inline-block;
	padding-left: 0;
	width: 50%;
	margin-left: auto;
	border: 3px solid red;
}

.animation ul li {
	display: inline-block;
	
} */


.animation {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #ffb6b9;
	color: #ffb6b9;
	line-height: 100px;
	text-align: center;
	font-size: 20px;
	
	
	transition-duration: .3s;
}

a {
	text-decoration: none;
}

.animation:hover {
	background-color: #bbded6;
	transition-duration: .5s;
}
/*
.animation:after{
	content: "Discover";
	color: red;
	font-size: 20px;
	border: 1px solid black;
  display: block;
	
	
}

*/



@media screen and (max-width: 400px) {
	body {
		margin: 0;
	}
	
	.intro {
		width: 400px;
		height: auto;
	}
	.profilepic {
	  width: 50%;
		height: auto;
		padding-top: 0;
	}
	
	.personality {
		width: 400px;
		height: auto;
	}
	
	.skills {
		width: 400px;
		height: auto;
	}
	
	footer {
		width: 400px;
		margin-top: 20px;
	}
	
	.links {
		display: inline-block;
		width: 20%;
		margin: 0;
		padding: 7px;
	}
	
	ul {
		width: 100%;
		padding-left: 0;
	}
	
	p {
		text-align: left;
		width: 100%;
	}
	
	h3 {
		padding: 0;
	}
}



